= render 'cover'
= render 'index'

/ Examples
= render 'examples'

/ Self
= render 'the_self'

/ Instance
= render 'instance'

/ Define method
= render 'define_method'

/ Metaclass
= render 'metaclass'

/ Metaid
= render 'metaid'

/ method_missing
= render 'method_missing'

/ included
= render 'included'

/ extended
= render 'extended'

/ procs
= render 'procs'

/ Class.new
= render 'class_new'

/ meta_tools
/ = render 'meta_tools'
